<div class="container-fluid bar">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img class="main-logo" src="../assets/images/meet-up.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
      </ul>

    </div>
  </nav>
  <hr >
  </div>



  <div class="container main">
      <div class="events">
      <div class="event-details">
          <span class="date">Sunday, July 19, 2020</span>
          <span class="event-name">Android 11 Meetup: Jalandhar</span>
          <div class="event-host">
              <img src="../assets/images/larry-page-2.jpg" alt="">
              <span class="by">Hosted by</span>
              <br>
              <span class="host-name">Vriraj S. and 4 others</span>
          </div>
      </div>
      <div class="share ml-auto ">
          <button class="btn"> <span class="material-icons">
            save_alt
            </span> Share</button>
      </div>
      </div>
  </div>
  <hr>
  <div class="container-fluid" style="background-color:rgb(248, 248, 248)">
  <div class="content container">
    <div class="row">
      <div class="text col-xs-12 col-md-8  ">
        <div class="row" style="max-width:100%">
        <img style="max-width:100%" class="main-image col-xs-12" src="../assets/images/android.png" alt="">
        <span style="font-weight:600; font-size:1.5rem; margin-top:4%;margin-left:2%">Details</span>
        <span style="font-size:1.1rem; margin-top:3%;margin-left:2%">Hola Amigos!</span>
        <span style="font-size:1.1rem; margin-top:3%;margin-left:2%">GDG Jalandhar is back with a technical treat for Android enthusiasts, "Android 11 Meetup", which is a global series of community-led online events connecting you with other like-wise developers to know about the needfuls for the next release of Android. Come together to learn about what's new in Android 11 and how to make your mobile app compatible with it.</span>
        <span style="font-size:1.1rem; margin-top:2%;margin-left:2%;">We have lined up some amazing sessions with a great set of speakers. Get to know an overview of Android 11. Also, we will be talking about new features, APIs, and other updates for developers in Android 11.</span>
        <span style="font-size:1.1rem; margin-top:2%;margin-left:2%">What are you waiting for? Register now to join us for #Android11Meetup.</span>
        <span style="font-size:1.1rem; margin-top:3%;margin-left:2%">Date: July 19, 2020</span>
        <span style="font-size:1.1rem; margin-top:1%;margin-left:2%">Date: July 19, 2020</span>
        <span style="font-size:1.1rem; margin-top:3%;margin-left:2%">Registration Link: <a style="color:rgb(37, 141, 155)" href=""> https://forms.gle/3LZCXTm3rjcxgAUN7</a></span>
        <span style="font-size:1.1rem; margin-top:3%;margin-left:2%">For more info, visit:</span>
        <span style="font-size:1.1rem; margin-top:1%;margin-left:2%">Website: <a style="color:rgb(37, 141, 155)" href="">https://gdgjalandhar.com/events/android11meetup/about</a> </span>
        <span style="font-size:1.1rem; margin-top:3%;margin-left:2%">In case of any query, feel free to write to us at [masked] or tweet by tagging @GDGJalandhar.</span>
        <span style="font-size:1.1rem; margin-top:3%;margin-left:2%">#GDGJalandhar #WTMJalandhar #Android11Meetup</span>
        
        <div class="attendees">
          <span style="font-size:1.3rem; font-weight:600;margin-left:2% ">Attendees (5)</span>
          <a href="" style="color:rgb(37, 141, 155);" class="ml-auto">See all</a>
        </div>
        <span style="font-size:1.1rem; margin-top:3%;margin-left:2%">55 on waitlist</span>

        <div class=" people" style="margin-left:5%">
          <div class="row">
          <div class="card cardy col-xs-5 col-sm-3 " >
            <img src="../assets/images/larry-page-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="" style="font-size:1.1rem">Larry</h5>
              <p class="" style="font-size:0.8rem; color:rgb(139, 139, 139);">Organizer</p>
            </div>
          </div>
          <div class="card cardy col-xs-5 col-sm-3 " >
            <img src="../assets/images/larry-page-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="" style="font-size:1.1rem">Larry</h5>
              <p class="" style="font-size:0.8rem; color:rgb(139, 139, 139);">Organizer</p>
            </div>
          </div>
          <div class="card cardy col-xs-5 col-sm-3 " >
            <img src="../assets/images/larry-page-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="" style="font-size:1.1rem">Larry</h5>
              <p class="" style="font-size:0.8rem; color:rgb(139, 139, 139);">Organizer</p>
            </div>
          </div>
          <div class="card cardy col-xs-5 col-sm-3 " >
            <img src="../assets/images/larry-page-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="" style="font-size:1.1rem">Larry</h5>
              <p class="" style="font-size:0.8rem; color:rgb(139, 139, 139);">Organizer</p>
            </div>
          </div>
          <div class="card cardy col-xs-5 col-sm-3 " >
            <img src="../assets/images/larry-page-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="" style="font-size:1.1rem">Larry</h5>
              <p class="" style="font-size:0.8rem; color:rgb(139, 139, 139);">Organizer</p>
            </div>
          </div>
          </div>  
        </div>

        <div class="col-12 more">
          <img src="../assets/images/gdg.jpeg" alt="">
          <div >
          <div style="margin-top:4%">
          <span style="margin-left:5%;">GDG Jalandhar</span>
          <br>
          <a style="color:rgb(37, 141, 155);margin-left:5%;" href="">See more events</a>
          <span style="margin-left:40%;margin-top:-3%;font-size:3rem;color:rgb(37, 141, 155);cursor:pointer" class="material-icons">
            keyboard_arrow_right
            </span>
            </div>
        </div>
        </div>
        <div style=" margin-top:7%;" class="col-8">
        <span style="font-size:1.4rem;font-weight:600;">Thanks to our sponsors</span>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-4 sponsors">
          <img style="max-width:50%;height:30px;margin-top:10%" src="../assets/images/gd.png" alt="">
          <span style="margin-top:14%;">Google Developers</span>
          <span style="font-size:0.8rem;color:rgb(163, 162, 162); padding-right:5%;max-width:90%">Sponsors Venues, Offers Food & Swags</span>
        </div>
        </div>



      </div>
      </div>
      <div class="event-details col-xs-12 col-md-3 pl-0 pr-0 ml-auto">
        <div class="row">
      <div class="location ">
        <img  src="../assets/images/gdg.jpeg" alt="">
        <span>Jalandhar</span>
        <span class="second">Public Group<span class="material-icons">
          help
          </span></span>
      </div>
      <div class="time col-xs-12">
        <span class="material-icons">
          schedule
          </span>
          <span class="first">Sunday, July 19, 2020</span>
          <br>
          <span class="second">
            2:00 PM to 5:00 PM GMT+5:30
          </span>
      </div>
      </div>
      </div>
    </div>


  <hr >


  <div class="similar-events">
    <span style="font-size:1.3rem; font-weight:600;margin-left:2% ">Similar events nearby</span>
    <a href="" style="color:rgb(37, 141, 155);" class="ml-auto">See all</a>
  </div>

  <div style="margin-top:2%;" class="row p-event">
    <div class="col-4 event-cards" style="margin-bottom:7%">
      <div class="card">
        <div class="card-body" >
          <span style="color:rgb(37, 141, 155);font-size:0.9rem;font-weight: 600;">SAT, AUG 1, 4:00 PM GMT+5:30</span>
          <span style="font-weight:700;font-size:1.3rem">Startups & Entrepreneurs - Open house Networking</span>
          <span style="margin-top:3%">Chandigarh Entrepreneurs Group</span>
          <div style="display:flex;margin-top:3%;color:rgb(141, 141, 141)">
          <span class="material-icons">
            place
            </span> 
            <span>Wotta Workspace</span>
          </div>
          <div style="margin-top:7%">
            <div style="display:flex;align-items: center;">
              <img style="z-index:2;max-width:12%;height:40px;border-radius:50%;border:2px solid white" src="../assets/images/larry-page-2.jpg" alt="">
              <img style="z-index:1;max-width:12%;height:40px;border-radius:50%;border:2px solid white;margin-left:-3%" src="../assets/images/mark.jpg" alt="">
              <img style="z-index:0;max-width:12%;height:40px;border-radius:50%;border:2px solid white;margin-left:-3%" src="../assets/images/steve.jpg" alt="">
              <span style="color:rgb(148, 148, 148);margin-left:3%">+3</span>
              <button class="bt-attend ml-auto">Attend</button>
            </div>

          </div>
        </div>
      </div>             
    </div>
    <div class="col-4 event-cards " style="margin-bottom:7%">
      <div class="card">
        <div class="card-body">
          <span style="color:rgb(37, 141, 155);font-size:0.9rem;font-weight: 600;">SAT, AUG 8, 5:00 PM GMT+5:30</span>
          <span style="font-weight:700;font-size:1.3rem">Azure Weekends</span>
          <span style="margin-top:3%">Microsoft User Group - Chandigarh</span>
          <div style="display:flex;margin-top:3%;color:rgb(141, 141, 141)">
            <span class="material-icons">
              place
              </span> 
              <span>Penthara Technologies</span>
            </div>          
            <div style="margin-top:18%">
              <div style="display:flex;align-items: center;">
                <img style="z-index:2;max-width:12%;height:40px;border-radius:50%;border:2px solid white" src="../assets/images/larry-page-2.jpg" alt="">
                <img style="z-index:1;max-width:12%;height:40px;border-radius:50%;border:2px solid white;margin-left:-3%" src="../assets/images/mark.jpg" alt="">
                <img style="z-index:0;max-width:12%;height:40px;border-radius:50%;border:2px solid white;margin-left:-3%" src="../assets/images/steve.jpg" alt="">
                <span style="color:rgb(148, 148, 148);margin-left:3%">+3</span>
                <button class="bt-attend ml-auto">Attend</button>
              </div>
        </div>
      </div>             
    </div>
    </div>
    <div class="col-4 event-cards" style="margin-bottom:7%">
      <div class="card">
        <div class="card-body">
          <span style="color:rgb(37, 141, 155);font-size:0.9rem;font-weight: 600;">THU, JUL 23, 8:00 PM GMT+5:30</span>
          <span style="font-weight:700;font-size:1.3rem">Top 5 Takeaways on IEC 624433-3-3, w/Palo Alto...</span>
          <span style="margin-top:3%">Chandigarh Cyber Security for Con...</span>
          <div style="display:flex;margin-top:3%;color:rgb(141, 141, 141)">
            <span class="material-icons">
              videocam
              </span> 
              <span>Online event</span>
            </div>
            <div style="margin-top:7%">
              <div style="display:flex;align-items: center;">
                <img style="z-index:2;max-width:12%;height:40px;border-radius:50%;border:2px solid white" src="../assets/images/larry-page-2.jpg" alt="">

                <button class="bt-attend ml-auto">Attend</button>
              </div>
        </div>
      </div>             
    </div>
  </div>
</div>
</div>
<hr>
</div>

<div class="container-fluid free-cont">
  <div class="container">
    <div class="row ">
    <div class="col-12 last-info">
      <div  class="last-time">
      <span>Sun, Jul 19 . 2:00 PM GMT+5:30</span>
      <span style="font-weight:600;">Android 11 Meetup : GDG Jalandhar</span>
    </div>
    <div style="display:flex;flex-direction:column;margin-right:6%" class="free">
      <span style="font-size:1.1rem;font-weight:600;">FREE</span>
      <span>0 spots left</span>
    </div>
    <div style="border:1px solid rgb(180, 179, 179);border-radius:7px;cursor: pointer;margin-right:2%" class="star">
    <span class="material-icons" style="padding:13px;color:rgb(180, 179, 179);">
      star_outline
      </span>
      </div>
      <button class="waitlist-btn">Join waitlist</button>
    </div>
  </div>
  </div>
</div>

<div class="container-fluid bottom">
<div class="container">
  <div class="row" >
    <div class="col-12 new-group">
      <span class="">Start a new group</span>
      
    </div>
  </div>
  <hr style="background-color:rgb(128, 125, 125);margin-bottom:4%;margin-top:4%">
</div>
  <div class="container">
    <div class="row bottom-items">
    <div class="col-xs-3 col-md-2  bottom-col">
      <span style="color:white;font-size:1.1rem;font-weight:600;">Your Account</span>
      <span >Sign up</span>
      <span>Log in</span>
      <span>Help</span>
    </div>
    <div class=" col-xs-3 col-md-2  bottom-col" >
      <span style="color:white;font-size:1.1rem;font-weight:600">Discover</span>
      <span>Groups</span>
      <span>Calendar</span>
      <span>Topics</span>
      <span>Cities</span>
    </div>
    <div class="col-xs-3 col-md-2   bottom-col" >
      <span style="color:white;font-size:1.1rem;font-weight:600">Meetup</span>
      <span>About</span>
      <span>Meetup Pro</span>
      <span>Careers</span>
      <span>Apps</span>
      <span>Blog</span>
      <span>Accessibility</span>
    </div>
    <div class="col-xs-12 col-md-4 bottom-col" >
      <span style="color:white;font-size:1.1rem;font-weight:600;">Follow us</span>
      <div class="icons">
        <img src="https://img.icons8.com/android/24/000000/facebook.png"/>
        <img src="https://img.icons8.com/android/24/000000/twitter.png"/>
        <img src="https://img.icons8.com/material/24/000000/youtube-play--v1.png"/>
        <img src="https://img.icons8.com/material-outlined/30/000000/instagram-new.png"/>
      </div>
      <div class="english">
        <span style="margin:5% 0 5% 5%;font-size:1.1rem">English</span>
        <span style="margin: 5% 5% 0 5%;font-size:2rem;" class="material-icons ml-auto">
          keyboard_arrow_down
          </span>
      </div>
      <div class="row" style="margin-top:10%;display:flex;justify-content: space-evenly;margin-bottom:20%" >
        <img style="border-radius: 10px;padding:0;border:1px solid rgb(163, 163, 163) " class="col-5" src="../assets/images/app-store.png" alt="">
        <img style="border-radius: 10px;padding:0;border:1px solid rgb(163, 163, 163)" class="col-5" src="../assets/images/google.png" alt="">
      </div>
    </div>
    </div>
    </div>
</div>

<div class="container-fluid" style="background-color:rgb(47,54,63)">
  <div class="container">
    <div style="display:flex;flex-direction:column">
      <span style="color:rgb(189, 187, 187);margin-top:2%">&#9426; 2020 Meetup LLC</span>
      <span style="color:rgb(189, 187, 187);margin-top:1%">Terms of Service . Privacy Policy .</span>
    </div>
  </div>
</div>



